
/*Background image */

html { 
  background: url(/img/stacked-stones.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}




/*sidebar */

.fixed-sidebar {
    display:block;
    background: rgba(0,0,0,0.29); 
    
}



@media (min-width: 768px) {
    .fixed-sidebar {
        height:100%;
        position: fixed;
        top:0;
        left:5%;  
        width:13%;
        max-width:150px;
        min-width:150px; 
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.29) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.29)), color-stop(78%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000',GradientType=0 ); 
    }
}
@media (min-width: 992px) {
    .fixed-sidebar {
        left:8%;  
        width:15%;
        max-width:205px;
        min-width:190px; 
    }
}

.logo-container{
    height: auto;
    width: auto;
    max-width: 100%;
    font-family: 'Open Sans Condensed';
    color: white;
    font-size: 2em;
    text-align: center;
}


#topNav ul{
    list-style-type: none;
    min-width: 100%;
    text-align: center;
    margin:0;
    padding:0;
}

#topNav li.active a{
    background: rgba(0,0,0,0.2);
}

#topNav li a:hover {
    background:rgba(0,0,0,0.5);
}

#topNav li a{
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    font-family: 'Lato';
    font-size:2em;
}

/*The main content*/

h1{
    font-size: 4.5em;
    font-weight: bold; 
    margin: 0;   
}

h4{
    font-size: 2.5em;
    margin:0;
}

p{
    font-size: 1.2em;
}

.main-content{
    
    position: relative;
    margin: 0 7% 0 30%;
    font-family: 'PT Sans Narrow';
    color: white;
    text-align: right;
}

/*mobile*/

@media (max-width: 768px){
    .main-content{
        margin:0;
        text-align: center;
    }

}

/* widescreen */

@media(min-width: 992px){
    margin: 0 8% 0 35%;
}


/*making every section  100%*/
html,body, .main-content, .wrapper{
    height: 100%;
}

section {
    min-height: 100%;
}

/*styling sections*/


#media-buttons img{
    padding: 0 0.5% 0 0.5%;
}



#who{
    position:absolute;
    top: 25%;
    right:0;
}



#description{
    margin:0 0 0 50%;
}

@media screen and (max-width: 768px){
    #description{
        margin:0;
    }

}










